<div class="container-fluid-px-0 py-5">
    <div class="separator col-12 mb-5 p-0">
        <span class="d-none d-xl-flex"></span>
        <h2 class="text-center">Polos</h2>
        <span class="d-none d-xl-flex"></span>
    </div>
    <div class="row">
        <div class="col-12 col-md-3">
            <form method="POST" action="" class="filter">
                <ul class="list-group mx-md-5">
                    <li class="list-group-item"><h4><b>Filtros</b></h4></li>
                    <li class="list-group-item"><h5><b>Marca</b></h5>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">Celestina</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">Torsa</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">FranPeru</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">Cerezas</label>
                        </div>
                    </li>

                    <li class="list-group-item"><b>Tamaño</b>
                        
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">S</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">M</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">L</label>
                        </div>

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label">XL</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" >XXL</label>
                        </div>
                    </li>
                    <li class="list-group-item"><b>Precio</b>
                        <div class="custom-control custom-checkbox">
                            <input type="range" class="custom-control-input" min="0" max="100">
                            <label>Precio:</label>
                        </div>
                    </li>
                    <li class="list-group-item text-center">
                        <button class="btn btn-principal" >Aplicar</button> 
                    </li>
                </ul>
            </form>
        </div>
        <div class="col-12 col-md-9">
            <div class="card card-shop mx-2 text-left">
                <img class="mx-auto p-0" src="images/index/Ropa1.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompas</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
        </div>
    </div>
</div>