<section class="container-fluid p-0 front-page mb-5">
    <img src="images/index/background.png" alt="Ofertas">
</section>

<section class="container-fluid p-0 mb-5">
    <div class="row text-center justify-content-center m-0">
        <a href="/polos">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/carousel-1/Polos.png" alt="Polos">
                <div class="info-text">
                    <p>Polos</p>
                </div>
            </div>
        </a>
        <a href="/faldas">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/carousel-1/Faldas.png" alt="Faldas">
                <div class="info-text">
                    <p>Faldas</p>
                </div>
            </div>
        </a>
        <a href="/jeans">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/carousel-1/Jeans.png" alt="Jeans">
                <div class="info-text">
                    <p>Jeans</p>
                </div>
            </div>
        </a>
        <a href="/chompas">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/carousel-1/Chompas.png" alt="Chompas">
                <div class="info-text">
                    <p>Chompas</p>
                </div>
            </div>
        </a>
        <a href="/vestidos">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/index/Vestidos.png" alt="Vestidos">
                <div class="info-text">
                <p>Vestidos</p>
                </div>
            </div>
        </a>
        <a href="/blusas">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/index/Blusas.png" alt="Blusas">
                <div class="info-text">
                    <p>Blusas</p>
                </div>
            </div>
        </a>
        <a href="/casacas">
            <div class="col-auto info-background">
                <img class="mx-2 my-2" src="images/index/Casacas.png" alt="Casacas">
                <div class="info-text">
                    <p>Casacas</p>
                </div>
            </div>
        </a>
    </div>
</section>

<section class="container-fluid text-center offers mb-5 px-0">
    <div class="separator col-12 my-5 p-0">
        <span class="d-none d-xl-flex"></span>
        <h2>¡Tenemos los mejores precios!</h2>
        <span class="d-none d-xl-flex"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-right">
                <img class="img-fluid" src="images/offers/ofertas.png" alt="Ofertas">
            </div>
            <div class="col-12 col-md-6 text-left p-0">
                <img class="img-fluid mb-2" src="images/index/Rectangle 10.png" alt="Ofertas">
                <img class="img-fluid mt-2" src="images/index/Rectangle 9.png" alt="Ofertas">
            </div>
        </div>
        <img class="img-fluid my-3" src="images/index/publicidad inferior.png" alt="Oferta del dia">
    </div>
</section>

<section class="container-fluid text-center shop mb-5 px-0">
    <div class="separator col-12 my-5 p-0">
        <span class="d-none d-xl-flex"></span>
        <h2>¡Encuentra la prenda <br>de tu preferencia!</h2>
        <span class="d-none d-xl-flex"></span>
    </div>
    <section class="my-5">
        <h3>Chompas</h3>
        {{!-- autogenered carousel --}}
        <div class="carousel-principal my-3">
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/Ropa1.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompa</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa4.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompa</p>
                <p class="card-shop-name m-0 pl-3">White</p>
                <p class="card-shop-price m-0 pl-3">S/. 30</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa2.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompa</p>
                <p class="card-shop-name m-0 pl-3">Purple</p>
                <p class="card-shop-price m-0 pl-3">S/. 20</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa 3.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompa</p>
                <p class="card-shop-name m-0 pl-3">Black</p>
                <p class="card-shop-price m-0 pl-3">S/. 35</p>
            </div>
        
        </div>
        <button class="btn btn-pink">
            <a href="/chompas" class="a-light">
                Ver más
            </a>
        </button>
    </section>
    <section class="my-5">
        <h3>Polos</h3>
        {{!-- autogenered carousel --}}
        <div class="carousel-principal my-3">
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa4 (2).png" alt="">
                <p class="card-shop-type m-0 pl-3">Polo</p>
                <p class="card-shop-name m-0 pl-3">Yellow</p>
                <p class="card-shop-price m-0 pl-3">S/. 38</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa3 (1).png" alt="">
                <p class="card-shop-type m-0 pl-3">Polo</p>
                <p class="card-shop-name m-0 pl-3">White</p>
                <p class="card-shop-price m-0 pl-3">S/. 26</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa2 (2).png" alt="">
                <p class="card-shop-type m-0 pl-3">Polo</p>
                <p class="card-shop-name m-0 pl-3">Purple</p>
                <p class="card-shop-price m-0 pl-3">S/.31</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa1 (2).png" alt="">
                <p class="card-shop-type m-0 pl-3">Polo</p>
                <p class="card-shop-name m-0 pl-3">Brooklyn</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
        </div>
        <button class="btn btn-pink">
            <a href="/polos" class="a-light">
                Ver más
            </a>
        </button>
    </section>
    <section class="my-5">
        <h3>Jeans</h3>
        {{!-- autogenered carousel --}}
        <div class="carousel-principal my-3">
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa2 (1).png" alt="">
                <p class="card-shop-type m-0 pl-3">Jean</p>
                <p class="card-shop-name m-0 pl-3">Dark blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 35</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa3.png" alt="">
                <p class="card-shop-type m-0 pl-3">Jean</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 30</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa5.png" alt="">
                <p class="card-shop-type m-0 pl-3">Jean</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 38</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa4 (1).png" alt="">
                <p class="card-shop-type m-0 pl-3">Jean</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/index/ropa1 (1).png" alt="">
                <p class="card-shop-type m-0 pl-3">Jean</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
        </div>
        {{#each Imagenes}}
        <div class="carousel-principal my-3">
            <div class="card card-shop mx-2 text-left text-xl-center">
                <img class="mx-auto p-0" src="images/prendas/{{name}}" alt="">
                <p class="card-shop-type m-0 pl-3">id: {{id}}</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
            
        </div>
        {{/each}}
        <button class="btn btn-pink">
            <a href="/jeans" class="a-light">
                Ver más
            </a>
        </button>
    </section>
</section>