$font-principal: 'Poppins', sans-serif;
$background-principal: linear-gradient(90deg, #E5C1DF 0%, #ADDCF2 100%);

*{
    padding: 0;
    margin: 0;
    font-family: $font-principal;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
    &-thumb{
        background: $background-principal;
    }
    &-track{
        background: rgba(0, 0, 0, 0.1);
    }
}

.menu-lateral{
    position: absolute;
    min-height: 100vh;
    top: 0;
    left: 0;
    .card{
        background: $background-principal;   
        border-radius: 0 30px 30px 0;
        z-index: 99;
    }
}

.carrito{
    background: $background-principal;
    position: absolute;
    min-height: 100vh;
    top: 0;
    right: 0;
    border-radius: 30px 0 0 0;
    .card{
        background: white;   
        z-index: 99;
        border-radius: 30px 0 0 0;
        .item{
            background-color: #FAFAFA;
            button{
                font-size: 8px;
            }
        }
    }
}

a{
    color: white;
    &:hover{
        color: white;
        text-decoration: none;
    }
}

.btn-principal{
    background: $background-principal;
    color:white;
    border-radius: 30px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
}

.btn-pink{
    background: #E5C2E0;
    color:white;
    border-radius: 30px;
    padding: 10px 30px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
}

.navbar{
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.25));
    &-title{
        font-family: $font-principal;
        font-size: 28px;
    }
    &-nav{
        text-transform: uppercase;
    }
    .nav-link{
        font-weight: bold;
    }
}

.login{
    background: $background-principal;
    .row{
        min-height: 100vh;
        h2{
            margin-bottom: 1rem;
            font-weight: bold;
            font-size: 28px;
        }
        h3{
            margin-bottom: 1rem;
            font-style: italic;
            font-size: 20px;
        }
        .card{
            padding: 3rem auto;
            border-radius: 30px;
            form{
                .input-group-text{
                    border-radius: 30px 0 0 30px;
                    background: transparent;
                }
                input{
                    height: 46px;
                    border-radius: 0px 30px 30px 0;
                    background: linear-gradient(90deg, #E5C1DF 0%, #ADDCF2 100%);
                    opacity: 0.5;
                    &::placeholder{
                        opacity: 1;
                    }
                }
                p{
                    color: #979595;
                    font-style: italic;
                    text-transform: capitalize;
                    a{
                        font-style: oblique;
                        text-decoration: underline;
                        color: #979595;
                        &:hover{
                            color: #979595;
                        }
                    }
                }
            }
        }
    }
}

.register{
    background: $background-principal;
    .row{
        min-height: 100vh;
        h3{
            margin: 2rem 0rem;
            font-weight: bold; 
            text-transform: capitalize;
        }
        .card{
            margin: 0 auto;
            padding: 1rem 1rem 5rem 1rem;
            width: 80%;
            border-radius: 30px;
            form{
                label{
                    font-weight: 600;
                }
                input{
                    border-radius: 30px;
                    font-size: 14px;
                    &::placeholder{
                        color: #979595;
                    }
                }
                p{
                    color: #979595;
                    font-style: italic;
                    a{
                        font-style: oblique;
                        text-decoration: underline;
                        color: #979595;
                        &:hover{
                            color: #979595;
                        }
                    }
                }
            }
        }
    }
}

.front-page{
    img{
        min-height: 100vh;
        object-fit: cover;
        width: 100%;
    }
}

.info{
    &-background{
        position: relative;
    }
    &-text{
        position: absolute;
        top: 40%;
        left: 40%;
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.offers{
    //min-height: 100vh;
    h2{
        font-size: 28px;
    }
}

.separator{
    position: relative;
    span:nth-of-type(1){
        position: absolute;
        width: 30%;
        height: 10px;
        background: $background-principal;
        left: 0;
        top: 50%;
        margin-right: 3rem;
        border-radius: 0 30px 30px 0;
        z-index: -1;
    }
    span:nth-of-type(2){
        position: absolute;
        width: 30%;
        height: 10px;
        background: $background-principal;
        right: 0;
        top: 50%;
        margin-left: 3rem;
        border-radius: 30px 0 0 30px;
        z-index: -1;
    }
}

.card{
    &-shop{
        width: 250px;
        border-radius: 30px;
        border: white 2px solid;
        &-type{
            font-size: 14px;
            fill: #979595;
        }
        &-name{
            font-size: 18px;
        }
        &-price{
            font-size: 18px;
        }
    }
}

.shop{
    //min-height: 100vh;
    h2{
        font-size: 28px;
    }
}

footer{
    background: $background-principal;
    img{
        margin: 0.2rem 1rem;
    }
    .group{
        font-weight: bold;
    }
    .uni{
        font-style: italic;
        font-weight: bolder;
    }
}

#polo_venta{
    width: 25em;
    height: 25em;
}

#polo_foto{
    width: 5em;
    height: 5em;
}