<div class="container-fluid px-0 py-5">
    <div class="row w-100 p-0 justify-content-center">
        <div class="col-12 col-md-2">
            <form method="POST" action="" class="filter">
                <ul class="list-group mx-md-3">
                        <div class="card card-shop mx-2">
                            <img  id="polo_foto" src="images/prendas/polos1.png" alt="" style="border-radius: 10px;">
                        </div>

                        <div class="card card-shop mx-2">
                            <img  id="polo_foto" src="images/prendas/polos1.png" alt="" style="border-radius: 10px;">
                        </div>

                        <div class="card card-shop mx-2">
                            <img  id="polo_foto" src="images/prendas/polos1.png" alt="" style="border-radius: 10px;">
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <div class="col-12 col-md-10 d-flex">
            <div class="row">
                <div class="col">
                    <div class="card card-shop mx-2">
                        <img  id="polo_venta" src="images/dbimagenes/{{modelo.descripcion}}/{{modelo.id}}.png" alt="" style="border-radius: 30px;">
                    </div>
                </div>

                <div class="col-12 col-md-5">
                    <h2>HAWAII</h2>
                    <h5>02 rese침as |</h5>
                    <h4>Oferta 23.00</h4>
                    <div class="card" style="align-items: center;">
                        <p>ofertas disponibles : 2</p>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-3">
                            <h5>Color:</h5>
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px; margin: 0px 10px;">
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-3">
                            <h5>Talla:</h5>
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px; margin: 0px 10px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px; margin: 0px 10px;">
                        </div>
                        <div class="card col-md-1" style="border-radius: 20px;">
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-md-4">
                            <h5>Talla:</h5>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">+</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">-</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-principal mb-2 col-md-7 py-2">Agregar al carrito</button>

                        <button type="submit" class="btn btn-principal mb-2 col-md-2  py-2 offset-2">+</button>
                    </div>

                    <div class="row align-text-center">
                        <div class="card col-md-12" style="align-items: center;">
                            <p>No hay recomendaciones</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p><b> Tipo de entrega: </b></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7">
                            <p><i> Entrega a domicilio: </i></p>
                        </div>
                        <div class="col-md-5">
                            <p><u> Ver distritos: </u></p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Primero</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">Ultimo</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="separator col-12 my-5 p-0 text-center">
        <span class="d-none d-xl-flex"></span>
        <h2>Rese침as del producto</h2>
        <span class="d-none d-xl-flex"></span>
    </div>

    <div class="container" style="height: 100vh; overflow-y: scroll">
        <div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-11">
                    <h5>Valora el producto:</h5>
                    <h5>Ingresa tu comentario:</h5>
                    <textarea name="" id="" cols="100" rows="">Comentario</textarea>
                    <div class="d-inline-block">
                        <button class="btn btn-principal">Enviar comentario</button>
                        <p class="d-inline-block">Estar치 apareciendo en esta secci칩n cuando se apruebe tu comentario.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img class="d-inline-block" src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-9">
                    <h6>28/04/20</h6>
                    <h5>Maria Jose Ramirez</h5>
                    <p>estrellas DB</p>
                </div>
                <div class="col-2">
                    <button class="btn" style="border: 1px solid black; border-radius: 30px"><img src="images/navbar/navbar_heart.png" alt=""> Me gusta</button>
                </div>
                <div class="col-12">
                    <p>Comentario</p>
                </div>
            </div>
        </div>
        
        {{!-- ELIMINA DE AQUI PARA ABAJO --}}
        <div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img class="d-inline-block" src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-9">
                    <h6>28/04/20</h6>
                    <h5>Maria Jose Ramirez</h5>
                    <p>estrellas DB</p>
                </div>
                <div class="col-2">
                    <button class="btn" style="border: 1px solid black; border-radius: 30px"><img src="images/navbar/navbar_heart.png" alt=""> Me gusta</button>
                </div>
                <div class="col-12">
                    <p>Comentario</p>
                </div>
            </div>
        </div><div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img class="d-inline-block" src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-9">
                    <h6>28/04/20</h6>
                    <h5>Maria Jose Ramirez</h5>
                    <p>estrellas DB</p>
                </div>
                <div class="col-2">
                    <button class="btn" style="border: 1px solid black; border-radius: 30px"><img src="images/navbar/navbar_heart.png" alt=""> Me gusta</button>
                </div>
                <div class="col-12">
                    <p>Comentario</p>
                </div>
            </div>
        </div><div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img class="d-inline-block" src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-9">
                    <h6>28/04/20</h6>
                    <h5>Maria Jose Ramirez</h5>
                    <p>estrellas DB</p>
                </div>
                <div class="col-2">
                    <button class="btn" style="border: 1px solid black; border-radius: 30px"><img src="images/navbar/navbar_heart.png" alt=""> Me gusta</button>
                </div>
                <div class="col-12">
                    <p>Comentario</p>
                </div>
            </div>
        </div><div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img class="d-inline-block" src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-9">
                    <h6>28/04/20</h6>
                    <h5>Maria Jose Ramirez</h5>
                    <p>estrellas DB</p>
                </div>
                <div class="col-2">
                    <button class="btn" style="border: 1px solid black; border-radius: 30px"><img src="images/navbar/navbar_heart.png" alt=""> Me gusta</button>
                </div>
                <div class="col-12">
                    <p>Comentario</p>
                </div>
            </div>
        </div><div class="container p-3 my-4" style="border: 1px solid black">
            <div class="row">
                <div class="col-1">
                    <img class="d-inline-block" src="images/navbar/navbar_user.png" alt="">
                </div>
                <div class="col-9">
                    <h6>28/04/20</h6>
                    <h5>Maria Jose Ramirez</h5>
                    <p>estrellas DB</p>
                </div>
                <div class="col-2">
                    <button class="btn" style="border: 1px solid black; border-radius: 30px"><img src="images/navbar/navbar_heart.png" alt=""> Me gusta</button>
                </div>
                <div class="col-12">
                    <p>Comentario</p>
                </div>
            </div>
        </div>
        {{!-- FIN DE ELIMINACION --}}
    </div>

    <div class="separator col-12 my-5 p-0 text-center">
        <span class="d-none d-xl-flex"></span>
        <h2>Productos Similares</h2>
        <span class="d-none d-xl-flex"></span>
    </div>

    {{!-- autogenered carousel --}}
    <div class="carousel-principal my-3">
        <div class="card card-shop mx-2 text-left text-xl-center">
            <img class="mx-auto p-0" src="images/index/Ropa1.png" alt="">
            <p class="card-shop-type m-0 pl-3">Chompas</p>
            <p class="card-shop-name m-0 pl-3">Blue</p>
            <p class="card-shop-price m-0 pl-3">S/. 40</p>
        </div>
    </div>
</div>