<footer class="text-center text-light">
    <div class="container-fluid py-3 border-top border-light border-5">
        <img src="images/footer/icon_facebook.png" alt="Facebook Logo">
        <img src="images/footer/icon_instagram.png" alt="Instagram Logo">
        <img src="images/footer/icon_twitter.png" alt="Twitter Logo">
    </div>

    <div class="container-fluid py-3 border-top border-light border-5">
        <p class="group">GRUPO 1 - GESTION DE LA CONFIGURACION DE SOFTWARE</p>
        <p class="uni">Universidad Nacional Mayor de San Marcos</p>
    </div>
</footer>