<div class="container m-5">
    <div class="row align-items-center justify-content-center"  style="min-height: 100vh;">
        <div class="col-12">
            <h4>Se ha encontrado lo siguiente</h4>
            <h4>No se han encontrado coincidencias</h4>
            <button class="btn btn-pink">Volver al inicio</button>
        </div>
        <div class="col-auto">
            <div class="card card-shop mx-2 text-left">
                <img class="mx-auto p-0" src="images/index/Ropa1.png" alt="">
                <p class="card-shop-type m-0 pl-3">Chompas</p>
                <p class="card-shop-name m-0 pl-3">Blue</p>
                <p class="card-shop-price m-0 pl-3">S/. 40</p>
            </div>
        </div>
    </div>
</div>